@charset "utf-8";

@font-face {
    font-family: 'Apercu-Light';
    src: url('../fonts/Apercu-Light/apercu-light-pro.eot');
    src: url('../fonts/Apercu-Light/apercu-light-pro.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Apercu-Light/apercu-light-pro.woff') format('woff'),
         url('../fonts/Apercu-Light/apercu-light-pro.woff2') format('woff2'),
         url('../fonts/Apercu-Light/apercu-light-pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu';
    src: url('../fonts/Apercu-Regular/apercu-regular-pro.eot');
    src: url('../fonts/Apercu-Regular/apercu-regular-pro.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Apercu-Regular/apercu-regular-pro.woff') format('woff'),
         url('../fonts/Apercu-Regular/apercu-regular-pro.woff2') format('woff2'),
         url('../fonts/Apercu-Regular/apercu-regular-pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu-Bold';
    src: url('../fonts/Apercu-Bold/apercu-bold-pro.eot');
    src: url('../fonts/Apercu-Bold/apercu-bold-pro.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Apercu-Bold/apercu-bold-pro.woff') format('woff'),
         url('../fonts/Apercu-Bold/apercu-bold-pro.woff2') format('woff2'),
         url('../fonts/Apercu-Bold/apercu-bold-pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html{height: 100%;}
body{
    background: #05668D;
    font: 14px/1.21 'Apercu', Helvetica Neue,arial,sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    height: 100%;
    color: #fff;
    display: block;
}
#root{
    height: 100%;
}
.col{
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 500px;
}
.container{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    min-width: 320px;
    max-width: 625px;
    padding: 20px;
    box-sizing: border-box;
}
.topBar, .content{
    display: flex; 
    align-items: center;
}
.topBar .city{
    background: #028090;
    color: #fff;
    border: 1px solid #028090;
    padding: 8px;
    padding-top:7px;
    font-family: sans-serif;
    font-size: 12pt;
    margin-top:2px;
}
.topBar .city::placeholder {
    color: #fff;
}
.topBar .search{
    background: #02C39A;
    color: #05668D;
    padding: 10px;
    font-weight: bold;
    border:none;
}
.content{
    flex-direction: column;
}
.Typewriter {
    color: #fff;
    font-size: 50px;
}
.Typewriter .Typewriter__cursor{
    color: #43a047;
}
.share{
    display: flex;
    width: 100%;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    visibility: hidden
}
.twitter-share-button, .who-button {
    position: relative;
    height: 20px;
    box-sizing: border-box;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px 5px;
}
.who-button{
    background-color: #fbc02d;
    color: #111;
    margin-top: 20px; 
    font-size: 1rem; 
    padding: 1rem;
    visibility: hidden;
}
.twitter-share-button {
    background-color: #1b95e0;
    color: #fff;
}
.copy-button svg{
    height: 20px; 
    fill: white; 
    cursor: pointer;
}
.whatsapp-share-button {
    background-color: #43a047;
    position: relative;
    height: 20px;
    box-sizing: border-box;
    color: #fff;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px 5px;
}
.visible{
    visibility: visible;
}
.loading, .wrap.loading{
    display: none;
    height: 100%;
}
.loading.ok{display: flex;}
.loading img{ width: 80px;}